<!DOCTYPE html>
<html>
<head>
    <title>Create Item</title>
</head>
<body>
    <h1>Create a New Wish List Item</h1>
    <div id="header">
        <a href="{% url 'wishlist:index' %}">Home</a>
        <a href="{% url 'login:logout' %}">Logout</a>
    </div>
    <form action="{% url 'wishlist:add' %}" method="post">
  {% csrf_token %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    <p>Item/Product: <input type="text" name="product"></p>
    <input type="submit" name="submit" value="Add">
    </form>

</body>
</html>
